* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-msj {
    width: 50vw;
    background: #24303c;
    padding: 30px;
    margin: auto;
    /* margin-top: 100px; */
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 7px 13px 37px #000;
    display: flex;

}
.controls {
    width: 35vw;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 1.5vw;
        /* height: 8vh; */
}
.control-msj {
    /* height: 20vh; */
}

.btn {
    background-color: #fcbf1e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: #120136;
    color: white;
}

.bgcontacts  {
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

